h2 {
    /* Alexander Ratelle */
    padding-bottom: 10px;
}
#cars {
    /* Alexander Ratelle */
    display: flex;
    flex-direction: column;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 2em;
    padding-bottom: 2em;
}

#coupe,
#sedan {
    /* Alexander Ratelle */
    flex: 1;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 2em;
}

#hatchback {
    /* Alexander Ratelle */
    flex: 1;
    padding-left: 3em;
    padding-right: 3em;

    padding-top: 2em;
}

.buybutton {
    /* Alexander Ratelle */
    background-color: #d54545;
    color: white;
}
.buybutton:hover {
    /* Alexander Ratelle */
    background-color: #ce3939;
}
table {
    /* Alexander Ratelle */
    width: 100%;
}
