#wrapper {
    display: flex;
}
#main {
    /* Alexander Ratelle */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
    margin-bottom: 5em;
    flex: 6;
    flex-direction: column;
}
#title {
    flex: 1;
}
#form {
    padding-top: 2em;
    padding-bottom: 5em;
    flex: 6;
}

header {
    /* Alexander Ratelle */
    flex: 2;
}
footer {
    /* Alexander Ratelle */
    flex: 2;
}

input[type="text"] {
    /*Michael Arcaro*/
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    color: black;
}

input[type="text"] {
    /*Michael Arcaro*/
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0px;
    box-sizing: border-box;
}

#title {
    /* Michael Arcaro*/
    padding-top: 4em;
    text-align: center;
    font-size: large;
}

#title2 {
    /*Michael Arcaro*/
    padding: 7px;
    text-align: center;
    font-size: medium;
    
}

textarea { 
    /*Michael Arcaro*/
    width: 93%;
    height: 150px;
    margin: 40px 40px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

#p {
    margin-left: 50px;
}


