#wrapper {
    /* Alexander Ratelle */
    display: flex;
}
#title {
    flex: 1;
}
#form {
    /* Alexander Ratelle */
    padding-top: 2em;
    padding-bottom: 5em;
    flex: 6;
    margin-left: 70px;
    margin-right: 70px;
}

header {
    /* Alexander Ratelle */
    flex: 2;
}
footer {
    /* Alexander Ratelle */
    flex: 2;
}

input[type="text"] {
    /*Michael Arcaro 2034803*/
    width: auto;
    height: auto;
    padding: 12px 20px;
    margin: auto;
    border: 2px solid #ccc;
    background-color: #f8f8f8;
    color: black;
    border-radius: 4px;
}

#content {
    /* Alexander Ratelle */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
    height: 90%;
    background: hsla(0, 0%, 100%, 1);
    background: linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 1) 0%,
        hsla(42, 100%, 98%, 1) 50%
    );
    background: -moz-linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 1) 0%,
        hsla(42, 100%, 98%, 1) 50%
    );
    background: -webkit-linear-gradient(
        90deg,
        hsla(0, 0%, 100%, 1) 0%,
        hsla(42, 100%, 98%, 1) 50%
    );
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#FFFCF5", GradientType=1 );
}

#title {
    /* Michael Arcaro 2034803*/
    padding-top: 4em;
    padding-bottom: 1em;
    text-align: center;
    font-size: large;
}

#title2 {
    /*Michael Arcaro 2034803*/
    padding: 7px;
    text-align: center;
    font-size: medium;
}

textarea {
    /*Michael Arcaro 2034803*/
    width: 100%;
    height: 150px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    margin-bottom: 5px;
}

#name,
#email,
#inquire {
    /* Alexander Ratelle */
    margin-bottom: 25px;
}

#pname {
    /* Alexander Ratelle */

    width: 100%;
}
#lname, #fname {
    /* Alexander Ratelle */
    margin-bottom: 20px;
    width: 100%;
}
.submit-button {
    /*Edgar-Leon Desrochers */
    position: relative; top: -5em;
}
#submitted-buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 2em
}


