#slider {
    /* Alexander Ratelle */
    flex: 8;
    position: relative;
    width: 70%;
    height: 100%;
    transform: translate(0%, 0%);
    background-image: url(../images/pexels-s-von-hoerst-2684219.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.5);
    animation: slider 9s infinite linear;
}

@keyframes slider {
    /* Alexander Ratelle */
    0% {
        background-image: url(../images/pexels-s-von-hoerst-2684219.jpg);
    }
    35% {
        background-image: url(../images/pexels-pixabay-358189.jpg);
    }
    70% {
        background-image: url(../images/pexels-dennis-serb-14594064.jpg);
    }
}
