#slider {
    /* Alexander Ratelle */
    flex: 7;
    display: block;
    position: relative;
    text-align: center;
    background-image: url(../images/jeep.png);
    background-size: 100% 100%;
    box-shadow: 1px 2px 10px 5px rgba(0, 0, 0, 0.5);
    animation: slider 30s infinite ease;
    animation-fill-mode: forwards;
    animation-delay: 1000ms;
    padding: 300px;
    flex-basis: auto 
    
}

@keyframes slider {
    /* Alexander Ratelle */
    15% {
        background-image: url(../images/altima.png);
        
    }
    25% {
        background-image: url(../images/brz.png);
    }
    35% {
        background-image: url(../images/camry.png);
    } 45% {
        background-image: url(../images/civic.png);
    } 55% {
        background-image: url(../images/dodge.png);
    } 65% {
        background-image: url(../images/yamaha.png);
    } 75% {
        background-image: url(../images/searay.png);
    } 85% {
        background-image: url(../images/golf.png);
        
    }
}

.bottom-left{
    position: absolute;
    left: 10px;
    bottom: 8px;
    color:white;
    border: 1px rgb(150, 149, 149) solid;
    padding: 10px;
    padding-left: 7px;
    padding-right: 7px;
    background: #ce3939;
}