#slider {
    /* Alexander Ratelle */
    flex: 8;
    position: relative;
    width: 70%;
    height: 100%;
    background-image: url(../images/pexels-s-von-hoerst-2684219.jpg);
    background-size: 100% 100%;
    box-shadow: 1px 3px 3px 5pxpx rgba(0, 0, 0, 0.2);
    animation: slider 9s infinite linear;
}
@keyframes slider {
    0% {
        background-image: url(../images/pexels-s-von-hoerst-2684219.jpg);
    }
    35% {
        background-image: url(../images/pexels-s-von-hoerst-2684219.jpg);
    }
    75% {
        background-image: url(../images/pexels-s-von-hoerst-2684219.jpg);
    }
}
