#menu-bar {
    /* Alexander Ratelle */
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: nowrap;
    align-items: center;
    padding: 2px;
    border-bottom: rgb(231, 231, 231) 2px solid;
}
#homebtn {
    /* Alexander Ratelle */
    width: 6em;
    height: 2em;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropbtn:hover,
#homebtn:hover {
    /* Alexander Ratelle */
    background-color: #d5d3d3;
}

.dropdown-content a:hover {
    background-color: rgb(234, 234, 234);
}

.drop-down:hover .dropdown-content {
    display: block;
}
.drop-down:hover .dropbtn {
    /* Alexander Ratelle */
    background-color: #d5d3d3;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 3px 3px 0px rgba(0, 0, 0, 0.2); /* Alexander Ratelle */
    text-decoration: none; /* Alexander Ratelle */
}

.dropdown-content a {
    /* Alexander Ratelle */
    display: block;
    text-decoration: none;
    padding: 5px;
    color: black;
    font-size: smaller;
    border-bottom: 1px #e1e1e1 solid;
}

.dropbtn {
    /* Alexander Ratelle */
    height: 2em;
    width: 10em;
}
#homebtn,
.dropbtn {
    /* Alexander Ratelle */
    margin: 4px;
    background-color: #e1e1e1;
}
