#menu-bar {
  /* Alexander Ratelle */
  display: flex;
  justify-content: center;
  text-align: center;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2px;
  border-top: darkgray 2px solid;
  border-bottom: darkgray 2px solid;
}
#homebtn {
  /* Alexander Ratelle */
  width: 6em;
  height: 2em;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 10em;
}
.drop-down:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
}

.dropbtn {
  /* Alexander Ratelle */
  height: 2em;
  width: 10em;
}
#homebtn,
.dropbtn {
  /* Alexander Ratelle */
  margin: 4px;
}
