* {
    /* border: 1px dotted red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    /* Alexander Ratelle */
    text-decoration: none;
    color: white;
}
a:hover {
    /* Alexander Ratelle */
    text-decoration: underline;
}
a:active {
    /* Alexander Ratelle */
    color: white;
}

a:link {
    /* Michael Arcaro 2034803 */
    color: white;
  }

a:visited {
    /* Michael Arcaro 2034803*/ 
    color: blue;
  }

#wrapper {
        /* Alexander Ratelle */
    display: flex;
    flex-direction: column;
}

header {
        /* Alexander Ratelle */
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: center;
    border-bottom: rgb(231, 231, 231) 2px solid;
    flex: 2;
}
#logo {
    /* Alexander Ratelle */
    width: 6em;
    height: 4.5em;
    margin-left: 3em;
}
#logo,
#upload-button {
    /* Alexander Ratelle */
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 3em;
}
#upload-button {
    /* Alexander Ratelle */
    margin-right: 4em;
    width: 17em;
    height: 4.5em;
    margin-bottom: 1em;
    color: white;
    background: #d54545;
    font-size: 20;
}
#upload-button:hover {
    /* Alexander Ratelle */
    background: #ce3939;
    font-size: 16;
}
.main {
    /* Alexander Ratelle */
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 7;
    background: hsla(0, 0%, 100%, 1);
    background: linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(42, 100%, 98%, 1) 50%);
    background: -moz-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(42, 100%, 98%, 1) 50%);
    background: -webkit-linear-gradient(90deg, hsla(0, 0%, 100%, 1) 0%, hsla(42, 100%, 98%, 1) 50%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FFFFFF", endColorstr="#FFFCF5", GradientType=1 );
}
#page-content {
        /* Alexander Ratelle */
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 8em;
    flex-direction: column;
    width: 100%;
    height: 600px;
    position: relative;    
}

#banner {
    /* Alexander Ratelle */
    flex: 1;
    width: 70%;
    height: 100%;
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}

.bottom-left{
        /* Alexander Ratelle */
    position: absolute;
    left: 10px;
    bottom: 8px;
    color:white;
    border: 1px rgb(150, 149, 149) solid;
    padding: 10px;
    padding-left: 7px;
    padding-right: 7px;
    background: #ce3939;
}

footer {
    /* Alexander Ratelle */
    display: flex;
    justify-content: space-between;
    border-top: rgb(231, 231, 231) 2px solid;
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 100%;
    width: 100%;
    padding-bottom: 6em;
    flex: 2;
    font-weight: 550;
    background: rgb(120, 125, 131);
    color: white;
    flex-wrap: wrap;
}
#copyright {
    /* Alexander Ratelle */
    flex: 3;
}
#contact {
    /* Alexander Ratelle */
    display: flex;
    flex-direction: column;
    flex: 1;
}

#questions {
    /* Alexander Ratelle */
    flex: 1;
    text-align: right;
    padding-bottom: 20px;
}
#social {
    /* Alexander Ratelle */
    text-align: right;
    flex: 3;
}
