* {
    /* border: 1px dotted red; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
a {
    text-decoration: none;
    color: white;

}
a:hover {
    text-decoration: underline;
}
a:active {
    color: white;
}

#wrapper {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    height: 20%;
    align-items: center;
    border-bottom: rgb(231, 231, 231) 2px solid;
    flex: 2;
}
#logo {
    /* Alexander Ratelle */
    width: 6em;
    height: 4.5em;
    margin-left: 3em;
}
#logo,
#upload-button {
    /* Alexander Ratelle */
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: 3em;
}
#upload-button {
    /* Alexander Ratelle */
    margin-right: 4em;
    width: 17em;
    height: 4.5em;
    margin-bottom: 1em;
    color: white;
    background: #d54545;
    font-size: 20;
}
#upload-button:hover {
    /* Alexander Ratelle */
    background: #ce3939;
    font-size: 16;
}
#main {
    display: flex;
    height: 100%;
    flex: 6;
}
#page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7em;
    margin-bottom: 7em;
    margin-left: 4em;
    margin-right: 4em;
    flex-direction: column;
    position: relative;
}

#top {
    flex: 2;
}

#bottom {
    flex: 3;
}
footer {
    /* Alexander Ratelle */
    display: flex;
    justify-content: space-between;
    border-top: rgb(231, 231, 231) 2px solid;
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    height: 100%;
    width: 100%;
    padding-bottom: 6em;
    flex: 2;
    font-weight: 550;
    background: rgb(120, 125, 131);
    color: white;

}
#copyright{
    flex:3;
}
#contact{
    display: flex;
    flex-direction: column;
    flex: 1;
}

#questions{
    flex: 1;
    text-align: right;
    padding-bottom: 20px;
}
#social{
    text-align: right;
    flex: 3;
}